<div class="grid">
  <div class="unit centered checksum_form">
    <div class="panel">
      <h2><%= t('checksum.titles.new') %></h2>

      <%= render 'form', checksum: @checksum %>
    </div>
  </div>
</div>
